<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="bootstrapModal" aria-hidden="true" ng-controller="loadKitaModalDataCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bootstrapModal">{{modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div ng-if="modalLink === 'editEvent'">
                    <h4>{{eventName}}</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p ng-if="modalLink != null">{{modalBody}}</p>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Beschreibung/Titel</label>
                                        <input type="text" class="form-control" placeholder="Beginn" ng-model="eventName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Beginn</label>
                                        <input type="date" class="form-control" placeholder="Beginn" ng-model="startDate"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Startzeit</label>
                                        <input type="text" class="form-control" placeholder="Startzeit" ng-model="startTime">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ende</label>
                                        <input type="date" class="form-control" placeholder="Ende" ng-model="endDate"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Endzeit</label>
                                        <input type="text" class="form-control" placeholder="Endzeit" ng-model="endTime">
                                    </div>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Endzeit" ng-model="endTime2">
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="modalLink === 'editProfilPic'">
                            <form>
                                <label class="btn btn-default btn-fill">
                                    Auswählen
                                    <input type="file" file-model="file.upload" name="myFile" ng-disabled="uploading" style="display: none;" onchange="angular.element(this).scope().photoChanged(this.files)">
                                </label>
                            </form>
                            <br>
                            <img ng-src="{{ thumbnail.dataUrl }}" style="max-width: 220px; max-height: 220px;">
                            <br>
                            <br>
                            <div ng-show="message">
                                <div ng-class="alertUpload">{{ message }}</div>
                            </div>
                            <div ng-show="uploading" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%;"></div>
                            </div>
                        </div>

                        <div ng-if="modalLink === 'newEvent'">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button ng-if="modalLink === 'deleteUser'" type="button" class="btn btn-danger btn-fill" ng-click="deleteUserConfirm()" data-dismiss="modal">{{modalSuccesBtn}}</button>

                    <button ng-if="modalLink === 'editEvent'" type="button" class="btn btn-primary btn-fill" ng-click="editEventConfirm()" data-dismiss="modal">{{modalSuccesBtn}}</button>

                    <button ng-if="modalLink === 'newEvent'" type="button" class="btn btn-primary btn-fill" ng-click="newEventConfirm()" data-dismiss="modal">{{modalSuccesBtn}}</button>

                    <button ng-if="modalLink === 'editUser'" type="button" class="btn btn-primary btn-fill" ng-click="editUserConfirm()" data-dismiss="modal">{{modalSuccesBtn}}</button>

                    <button ng-if="modalLink === 'editProfilPic'" type="button" class="btn btn-primary btn-fill" ng-show="!uploadSuccess" ng-click="SubmitProfilImg()">Bild hochladen</button>
                    <button ng-if="modalLink === 'editProfilPic'" type="button" class="btn btn-primary btn-fill" data-dismiss="modal" ng-show="uploadSuccess"
                        data-dismiss="modal" ng-click="editProfilPicConfirm()">{{modalSuccesBtn}}</button>

                    <button type="button" class="btn btn-secondary btn-fill" ng-click="resetRootScope()" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>